* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 350px;
  height: 500px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  border-radius: 10px;

  background-color: rgba(193, 137, 63, 0.5);
}

.grid-container {
  max-width: 350px;
  display: grid;
  grid-template-columns: repeat(4, 50);
  grid-template-rows: repeat(6, 50);
  gap: 10px;
  justify-content: center;
}

.screen {
  height: 70px;
  background-color: darkolivegreen;
  grid-area: 1/1/2/5;
  margin: 20px 0;
  max-width: 310px;
}

#clear,
#equal,
.displayable {
  /* box-shadow: 0 0 3px; */
  height: 60px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  border-radius: 10px;
  background-color: rgb(96, 96, 96);
  cursor: pointer;
}

#clear:hover,
#equal:hover,
.displayable:hover {
  color: white;
}

#clear:active,
#equal:active,
.displayable:active {
  background-color: rgb(150, 150, 150);
}

.opening-bracket {
  grid-area: 2/1/3/2;
}

#seven {
  grid-area: 3/1/4/2;
}

#eight {
  grid-area: 3/2/4/3;
}

#nine {
  grid-area: 3/3/4/4;
}

#plus {
  grid-area: 3/4/4/5;
}

#four {
  grid-area: 4/1/5/2;
}

#five {
  grid-area: 4/2/5/3;
}

#six {
  grid-area: 4/3/5/4;
}

#minus {
  grid-area: 4/4/5/5;
}

#one {
  grid-area: 5/1/6/2;
}

#two {
  grid-area: 5/2/6/3;
}

#three {
  grid-area: 5/3/6/4;
}

#division {
  grid-area: 5/4/6/5;
}

#closing-bracket {
  grid-area: 6/1/7/2;
}

#zero {
  grid-area: 6/2/7/3;
}

#equal {
  grid-area: 6/3/7/4;
}

#times {
  grid-area: 6/4/7/5;
}

#clear {
  grid-area: 2/4/3/5;
}

@font-face {
  font-family: seven-segment;
  src: url("./fonts/seven_segment/Seven\ Segment.ttf");
  font-family: casio;
  src: url("./fonts/casio-calculator-font/casio-calculator-font.ttf");
}

p.display {
  font-family: casio;
  font-size: large;
  padding: 5px;
  overflow-x: auto;
  padding-bottom: 25px;
}
